body{
    margin:0;padding:0;overflow-y:auto;
}
._main {
    display:flex;flex-direction:column;justify-content:space-between;min-height:100vh;
}
._kl{display:flex;gap: 10px 30px;padding: 20px 15px;
    background-color:#28387c;background: linear-gradient(90deg, rgba(40, 68, 100, 1) 42%, rgba(45, 125, 192, 1) 100%);flex-wrap: wrap;align-items:flex-end;color:white;font-size:2.5em;font-weight:bold;}
._kl div:nth-child(n+3) {font-size:2rem;}
.innerha  {
    display:flex;
    flex-direction:row;
    background-color:rgb(249,250,250);
    flex-wrap:wrap;
    min-width:50%;
    border:1px solid rgb(93, 91, 91);
    border-radius: 1em;
    box-shadow: 5px 5px 5px rgb(169, 169, 169);
    min-height:800px;
    width:80%;
    justify-content:normal;
    margin:30px 0;
    align-self:center;
}
.innerha * {
    font-size: 1.5rem;
}
.maininput{padding:30px; max-height:300px;display:flex;flex-direction: row;flex-wrap:wrap; gap:20px; min-width: 50%;
& ._rad{display:flex;flex-direction:row;gap:10px;flex-wrap:nowrap;}
& label {font-size:60%;font-weight:bolder;margin:5px;}
/* & ._typelist { */
._typelist {
        display:flex;
        flex-direction:column;
        align-content:flex-start;
        max-width: -webkit-fill-available;
        gap:0;
        flex:3;
        width:500px;}
}
.selectordiv, .divlist {
    display:none;
}

.divlist{font-size:1rem;max-height:150px;list-style:outside none;border: 1px solid rgb(200 191 191);padding-left:10px;overflow-y:scroll;overflow-x:hidden}
#gobutton{outline:3px solid rgb(10, 10, 10);padding:0 5px;margin:0 5px;font-weight:bolder}
.datacontent {
        padding:30px;
        display:flex;
        flex-direction:column;
        min-width:50%;
        gap: 10px;
        min-height:720px;
    & > div {
        display:flex;flex-direction:row;
        gap:30px 30px;align-items:flex-end;flex-wrap:wrap;
    }
}
.datacontent div div  {
    width: 50%;
    display:flex;
}
.datacontent div div:nth-child(2n+1)  {
    font-weight:700;
    display:flex;
    align-items:flex-end;
    xflex-wrap:nowrap;
    text-wrap:nowrap
}
.datacontent div div:nth-child(2n)  {
    /* width: 300px; */

    display:flex;
}
.datacontent div .numbers  {
    width: 200px;
    justify-content:end;
}
.numbers::before{
    content:'$';
}
.xx {
    font-size: smaller;
}
.genlink:hover {
    text-decoration: underline;
    color: white;
    
}
._li {
    font-size: 1.3rem;
}
._li:hover{
    background-color:rgb(0, 72, 255);
    color:white;
    cursor:pointer;
}
.disclaimer{
    width: 100%;margin:0;flex:auto;margin: auto 20px;
    font-size:1.5rem;
    font-weight:900;
    padding-bottom:15px;
    & div{font-weight:normal;font-size:1.4rem;}
}
._sInfo{
    box-shadow: 10px 5px 5px rgb(110, 111, 111);
	z-index: 9999;
	background-color:rgb(255, 255, 255);
	font-size:1.2em;
	padding: 45px;
	font-size:1.5em;
	width: 65%;
	margin-top: 1.2em;
	max-height: 80%;
	border:5px solid rgb(83, 83, 83);
    border-radius: 7px;
	transition: margin-top 200s;
	animation-duration: 300ms;
	animation-name: slidedown; 
    box-shadow:rgba(119, 108, 106, 0.5);
    & h1 {font-weight:600;padding-bottom:30px;
        & img {vertical-align: baseline;}
    }
    & p {padding: 0 20px 25px 20px;}
    & button {margin-left:50%}
}
@keyframes slidedown {
  from {
    margin-top: 100%;
	opacity:.70;
  }
  to {
    margin-top: 1.2em;
	opacity:1;
  }
}
._sInfo::backdrop {
	background-color: rgba(119, 108, 106, 0.5);
	backdrop-filter: blur(10px);
}
.closemodal:not(button) {
	position:absolute;
	top:0;
	right:0;
	font-size:1.5em;
	cursor:pointer;
}
.showhelp {
	color: white;
	padding-top: 10px;
	padding-right: 25px;
	font-weight: 600;
	cursor:pointer;
    margin-left:auto;
}
.showhelp:hover {
    color: #999;
    text-decoration:underline;
}
.closemodal:not(button) {
	position:absolute;
	top:0;
	right:0;
	font-size:1.5em;
	cursor:pointer;
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 700,
'GRAD' 200,
'opsz' 48;
font-size: 16px;
}
.helpinfo {
	cursor: help;
    color: blue;
    font-size: 1.2em;
}
._foot{width:100%;display:flex;flex-wrap:wrap;justify-content:space-between;background-color:black;color:white;padding:16px 20px;font-weight:500;font-size:1.4rem;margin-top:28px;}

@media( width <= 768px ){
    ._foot{justify-content:space-evenly !important;}
    z.datacontent div {gap:0px 30px}
    .datacontent div .numbers { justify-content: flex-start !important; }
}
@media( max-width:1200px){
	.showhelp {
		display:none;
	}
}
